
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This style will move your tabs to the bottom, and improve color
 * indicators for the containers feature. Currently tested on MacOS
 * Sierra and Linux on Nightly */

/*Tabs On Bottom*/
#TabsToolbar {
  -moz-box-ordinal-group: 3;
}
#nav-bar{
  border-top-width: 0px !important;
  padding: 0px 5px 0px 75px !important; /*The 75px is a fix for MacOS to make room for the window controls*/
}

/*Bookmarks Bar fix*/
#PersonalToolbar {
  -moz-box-ordinal-group: 2;
}

/*Remove extra tab bar space*/
#TabsToolbar {
  padding-inline-start: 0px !important;
  margin-bottom: none !important;
}
.titlebar-placeholder {
  display: none;
}

/*position window controls.  Only for MacOS, comment out for Linux/Windows*/
#titlebar-buttonbox-container {
  margin-left: 5px !important;
  margin-top: 5px !important;
}
